@use 'variables' as *;

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	font-family: $font;
	background-color: $base-color;
	color: $text-color;
	padding-top: 50px;
	margin-top: 10px;
}

ul,
li {
	list-style: none;
	margin: 0;
	padding: 0;
}

a,
a:hover,
a:active {
	text-decoration: none;
	color: inherit;
}
