@use 'variables' as *;
@use 'mixins' as *;

.header {
	margin-bottom: 100px;
	@include flex(column);
	width: 100%;
	align-items: stretch;
	position: relative;

	&__navigation {
		@include flex();
		text-transform: capitalize;
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
	}

	&__logo,
	&__menu {
		flex: 1;
	}

	&__list {
		@include flex();
		justify-content: space-evenly;
	}

	&__logo-text {
		font-size: $logo-text;
		line-height: 1.5;
		font-family: 'Actor', sans-serif;
	}

	&__info {
		width: 100%;
		max-width: 416px;
		border: solid 1px white;
		margin-top: 80px;
	}

	&__title {
		font-size: $header;
		text-transform: capitalize;
		font-family: 'Poppins';
	}

	&__description {
		font-size: 1.125rem;
		line-height: 32px;
	}
}

.main {
	&__media {
		border: solid 1px white;
	}
}
