@use 'variables' as *;
@use 'mixins' as *;

.container {
	max-width: $desktop;
	@include flex();
	border: solid 2px white;
	margin: 0 auto;
	justify-content: space-around;
}

.header,
.main {
	flex: 1;
}

.header {
	align-self: stretch;
}
