// colors
$base-color: #000;
$text-color: #fff;

// font
$font: 'Source Sans 3', sans-serif;

$logo-text: 2.25rem;
$header: 5.25rem;

// Screen size
/*
$screen-size: (
	'desktop': 1440px,
	'tablet': 786px,
	'mobile': 320px,
);
*/

$desktop: 1160px;
$tablet: 786px;
$mobile: 320px;
